#banner
    .banner_content
        %h1 Docs Cabinet
        %p Your life's work. Organized, always.
        %button= link_to 'Register', new_user_registration_path
#callouts
    .callout_inner
        .wrapper
            .callout
                %h2 Organize
                %p Nam eu augue ut felis rutrum pretium. Nullam at turpis volutpat, ornare lacus eget, blandit eros. Phasellus ut elit lobortis, ullamcorper nisl at, elementum odio. Sed nec gravida ante. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla non congue neque. Aenean massa justo, tristique vel placerat quis, scelerisque sed eros. Quisque sed ligula arcu. Donec egestas efficitur turpis, a tempor ex ultricies vel. Aliquam tempus pellentesque gravida. Integer pellentesque dui sed nulla sagittis, eu dignissim ligula viverra.

#bottom_cta
    .wrapper
        %h2 Go Ahead!
        %br
        %button= link_to 'Join Now', new_user_registration_path